/// RESET

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/// GLOBAL STYLES

body {
    margin: 3rem;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    background-color: white;
    color: green;
    min-height: 100vh;

    background-image: linear-gradient(
        150deg,
        rgba(white, 0.5),
        rgba(lightgreen, 0.5)
    );
}

/// UTILITY

.margin-bottom {
    margin-bottom: 5rem;
}
.margin-bottom-small {
    margin-bottom: 2.5rem;
}

/// STYLES

h1 {
    border-bottom: 10px solid green;
    text-align: center;
    font-size: 5rem;
    color: darkcyan;
}

/// NAVIGATION
.nav {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
    list-style: none;

    &__item {
        display: inline-block;
        color: green;
        font-size: 1.5rem;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    a:link,
    a:visited {
        color: green;
    }

    a:hover {
        color: red;
    }

    &__item:not(:first-child) {
        margin-left: 1rem;
    }
}

/// HOME

.ayo {
    width: 10rem;
    height: 10rem;
}

.con {
    margin: 10rem;
}

.user {
    font-size: 3rem;
}

.pic1 {
    width: 50%;
}

/// GALLERY

.img {
    // .img__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            max-width: 50rem;
            max-height: 20rem;
            object-fit: cover;
            transition: all 0.5s;

            margin: 1rem;
            box-shadow: 0 1rem 5rem rgba(green, 0.3);
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

h3 {
    cursor: pointer;
}

.btncon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .test {
        display: flex;

        font-size: 3rem;
        border-radius: 500px;
        background-color: aquamarine;
        box-shadow: 0rem 2rem 5rem rgba(black, 0.35);
        cursor: pointer;
        transition: all 0.5s;

        span {
            margin: 0rem 1rem;
        }
    }

    .test:hover {
        background-color: aliceblue;
    }

    .input {
        display: flex;
        margin-right: 1rem;
    }
}
