html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;

    background-color: #3f585a;
}

body {
    height: 110vh;
    width: 100%;
    background-image: linear-gradient(
            150deg,
            rgba(white, 0.2),
            rgba(black, 0.2)
        ),
        url(../test-images/header.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-startup {
    display: flex;
    flex-direction: column;
}
.heading {
    padding: 3.7rem 1rem 7rem;

    h1 {
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
    }
    // .heading__title

    &__title {
        color: white;
        animation: fade 1s;
    }
}

.btn {
    border-radius: 500px;
    box-shadow: 0rem 0rem 5rem rgba(white, 0.4);
    animation: bounce 2s infinite;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.btn__container {
    display: flex;
    justify-content: center;
    animation: fade 10s;
}

/// ANIMATIONS ///@

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
.nav-1:link,
.nav-1:visited {
    color: #3f585a;
}
.nav-1 {
    display: flex;
    justify-content: center;

    a {
        color: lighten(#3f585a, 25%);
    }
}

.nav__item-1 {
    margin-top: 1rem;
    font-size: 0.3rem;
    list-style: none;

    padding: 0rem 0.2rem;
}
