html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

body {
    background-image: linear-gradient(
            150deg,
            rgba(white, 0.2),
            rgba(black, 0.2)
        ),
        url(/startup-test/header.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-startup {
    display: flex;
    flex-direction: column;
}
.heading {
    padding: 4rem 1rem 7rem;

    h1 {
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
    }
    // .heading__title

    &__title {
        color: white;
    }
}

.btn {
    border-radius: 500px;
    box-shadow: 0rem 0rem 5rem rgba(white, 0.4);
    animation: bounce 2s infinite;
}

.btn__container {
    display: flex;
    justify-content: center;
}

/// ANIMATIONS ///@

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}
